*{
	margin: 0;
	padding: 0;
}
body{
	background: url('js_game1/rainbow_face.jpg');
	background-size: 1367px 667px;
}
canvas{
	background: url('js_game1/sunny-sky.jpg') no-repeat;
	border: 3px solid #fff;
	height: 500px;
	width: 500px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.canvas_div{
	margin: auto !important;
	width: 100%;
	margin: 20px 0 0;
}
.my_container{
    height: 500px;
	width: 87%;
}
.button_div{
    width: 87%;
    background: #51A;
	padding: 0 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.button_div,.my_container{
    margin: 20px auto;
}
.btn{
	margin: 20px 0;
}
 @media (min-width: 200px) and (max-width: 700px){
	canvas{
		width: 100% !important;
		height: 50% !important;
	}
 }